/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
/* Header styles */
.header {
    position: relative;
}

.header-bg {
    width: 100%;
    height: 600px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.logo {
    max-width: 600px; /* Increased size */
    height: auto;
    margin-bottom: 20px;
}

/* Navigation styles */
.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #60328f;
    padding: 10px 0;
    border-radius: 5px;
}

.nav-link {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #8d66d2;
}

/* Search bar and filters */
.search-filter {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-filter form {
    display: flex;
    align-items: center;
}

.search-filter input[type="text"], .search-filter select, .search-filter button {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.search-filter input[type="text"] {
    width: 400px;
}

.search-filter select, .search-filter button {
    background-color: #8d66d2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-filter button:hover, .search-filter select:hover {
    background-color: #60328f;
}

/* Product styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #60328f;
}

.product p {
    margin: 10px 0;
    color: #666;
}

.buy-btn {
    padding: 10px 20px;
    background-color: #8d66d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #60328f;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    color: #60328f;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #60328f;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #60328f;
    color: white;
}

.pagination a:hover {
    background-color: #8d66d2;
    color: white;
}

/* Back to Top Button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #60328f;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 16px;
    transition: background-color 0.3s;
}

#backToTopBtn:hover {
    background-color: #8d66d2;
}

/* Footer styles */
.footer {
    background-color: #60328f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.back-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #60328f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #8d66d2;
}
