/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("pexels-hertwashere-3224151.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #a38d637e;
    color: #ffffff50;
    padding: 10px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
        text-align: right;

  }
  
  nav ul li {
    margin-right: 20px;
    text-align: right;

  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    text-align: right;

    
  }
  .hero {
    background-color: #f4f4f485;
    padding: 20px;
    text-align: left;
    
  }
  .hero  h1 {
    font-size: 72px;
    color: rgb(255, 192, 247);
  }
  
  .products {
    padding: 50px;

  }
  .cart {
    padding: 20px;
    margin: 360px;
    margin-top: 10px;
    background-color: white;

  }
  
  .cart-items {
    background-color: rgb(214, 214, 214);
    list-style-type: none;
    padding: 20px;
    margin: 220px;
    margin-top: 10px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .cart-item img {

    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details input {
    width: 50px;
    margin-right: 10px;
  }
  
  .cart-total {
    text-align: right;
    margin-top: 20px;
  }
  
  .cart-total button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #33333300;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
  }