/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("pexels-hertwashere-3224151.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #222; /* Darker gray for body text */
}

header {
  background-color: #838383;
  color: #fff; /* White for header text */
  padding: 10px;
  text-align: right;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 20px;
  text-align: right;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.basket_icon {
  width: 24px;
  height: 24px;
}

.hero {
  background-color: #f4f4f485;
  padding: 20px;
  text-align: left;
}

.hero h1 {
  font-size: 72px;
  color: rgb(255, 192, 247);
}

.category {
  background-color: white;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
}

.category h2 {
  margin-top: 0;
  color: #0073e6; /* Blue for category headings */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(33.333% - 2rem);
  box-sizing: border-box;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: rgb(255, 192, 247); /* Orange-red for product card headings */
}

.products {
  padding: 50px;
}

.cart {
  padding: 20px;
  margin: 360px;
  margin-top: 10px;
  background-color: white;
}

.cart-items {
  background-color: rgb(214, 214, 214);
  list-style-type: none;
  padding: 20px;
  margin: 220px;
  margin-top: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-details input {
  width: 50px;
  margin-right: 10px;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #33333300;
  color: #ffd700; /* Gold for footer text */
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
